Reactive Form: dodawanie użytkownika <br>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <p *ngIf="formGroup.get('name').invalid && formGroup.get('name').touched" style="color: red;"> niepoprawnie nazwa</p>
  Name <input type="text" formControlName="name">
  Email <input type="text" formControlName="email">
  <input type="submit" [disabled]="formGroup.get('name').invalid">
</form>

<br><br>

<button (click)='updateUser()'>Dodaj</button>

Przykład użycia pipe: {{ '123' | suffixAndPrefixCurrency : 'Kwota do zapłaty' : 'PLN' }}

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>WWW</th>
    </tr>
  </thead>
  <tbody>
    <app-user class="table-line" *ngFor="let user of users" [user]='user' (delete)="deleteUser($event)"></app-user>
  </tbody>
</table>